langchain
langchain_community
streamlit
pycryptodome
python-dotenv
tiktoken
unstructured
python-pptx
docx2txt
PyPDF
PyPDF2
openai==0.28.1
chromadb==0.3.29
azure-search-documents==11.4.0b8
azure-identity
xlrd
flask
fpdf==1.7.2
unstructured[xlsx]
unstructured[pdf]
python-docx
pdfkit
wkhtmltopdf
weasyprint
libxrender