langchain 
streamlit
pycryptodome
python-dotenv
tiktoken
unstructured
unstructured[xlsx]
unstructured[pdf]
python-pptx
docx2txt
PyPDF
PyPDF2
openai==0.28.1

azure-identity
xlrd
pillow

pandas==2.2.3
numpy==2.0.0
psutil
PyMupdf
langchain_community
langchain_core
rapidocr-onxruntime
scikit-learn
matplotlib
seaborn